@mixin generateColorClasses($map) {
  @each $key, $color in $map {
    &.#{$key} {
      background-color: $color !important;

      &:hover {
        @if $key == "PDF-to-PDF-A" or $key == "pdf-to-markdown" {
          background-color: lighten($color, 14%) !important;
        } @else {
          background-color: darken($color, 13%) !important;
        }
      }
    }
  }
}

.tools-page {
  @include extend("container-fluid position-relative");
  .title {
    @include extend("display-3");
  }
  .description {
    @include extend("lead");
  }
  .overlay {
    position: absolute;
    @include extend("display-4");
    inset: 0px;
    background-color: rgb(0 0 0 / 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 100000;
    color: white;
    border: 3px dashed;
    width: 100%;
    height: 100vh;
  }

  // .btn {
  //   @include generateColorClasses($color-map);
  // }
  // input[type="file"]
  .file-input {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    &::before {
      content: "";
      display: block;
      position: inherit;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .download-page {
    min-height: 50vh;
    @include extend(
      "flex-column align-items-center justify-content-center text-center"
    );
    .download-btn-container {
      @include extend(
        "d-flex align-items-center justify-content-between rounded-circle"
      );
    }
    .back-btn {
      display: flex;
      @include extend("btn btn-dark rounded-circle align-items-center");
      margin-right: 0.46rem;
      @include ar-wrapper {
        margin-right: auto !important;
        margin-left: 0.46rem;
      }
      width: 40px;
      height: 40px;
      .icon {
        flex: 1;
      }
    }
    .download-btn {
      @include extend(
        "btn btn-lg text-white position-relative overflow-hidden"
      );
      .icon {
        @include extend("text-white mr-2");
      }
    }
  }
}
.md-2pdf {
  display: flex;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
  height: 100%;

  .editor {
    flex: 0 1 50%;
    height: 100%;
    resize: none;
  }

  .editor-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .react-markdown-container {
    flex: 0 1 50%;
    padding: 15px;
  }
}

.upload-btn,
.submit-btn {
  font-size: 2em;
  cursor: pointer;
}
.upload-btn,
.submit-btn,
.download-btn,
.btn {
  @include generateColorClasses($color-map);
}
.upload-btn {
  @include extend("btn btn-lg text-white position-relative overflow-hidden");
}

.submit-btn {
  @include extend(
    "btn btn-lg text-white position-relative overflow-hidden grid-footer"
  );
}
